body{
    margin: 0;
    padding: 0;
    max-width: 980px;
    margin: 0 auto;
    width: 90%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.content-container h2{
    font-size: 26px;
}
.content-container{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.container{
    display: flex;
    flex-direction: row;
}
#countries{
    display: flex;
    border: 1px solid #f76981;
    border-radius: 6px;
    margin-top:auto;
}
#countries div{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
#countries div h3{
    margin: 0px;
    text-align: center;
}
#countries div p{
    margin: 0px;
    text-align: center;
}
#options{
    outline: none;
    width: 180px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #f76981;
    border-radius: 6px;
    font-size: 16px;
    margin-right: 30px;
}
#result-container{
    display: flex;
    flex-direction: column;
    height: 300px;
    margin: 10px 0;
}
#result-container img{
    width: 40px;
    height: 40px;
    margin-top: 40px;  
}
#cases, #deaths, #suspects{
    display: flex;
    justify-content: space-between;
}
#result-container p{
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-align: left;
    margin-right: 30px;
    margin-top: 50px;
}
#btn{
    border: none;
    color: #fff;
    background-color: #f76981;
    outline: none;
    cursor: pointer;
    width: 120px;
    height: 30px;
    border-radius: 6px;
    font-weight: bold;
    margin-left: 30px;
    font-size: 16px;
}
#btn:hover{
    background-color: #f55670
}
